<%include ../head %>

<ui>
  <% for(var i = 0; i<entries.length; i++){%>
    <li>
      <a href='/til/<%= i %>' ><%= entries[i].title %></a>
      <a href='/til/<%= i %>/edit'>Edit</a>
      <a href='/til/<%= i %>/delete'>Delete</a>
    </li>
    <% } %>
  </ui>
  <% include ../footer %>
